pandas==2.1.4
pandas-gbq==0.29.2
scikit-learn==1.7.1
imbalanced-learn==0.14.0
mlflow==3.4.0
mlflow-skinny==3.4.0
mlflow-tracing==3.4.0
streamlit==1.49.0
catboost==1.2.8
lightgbm==4.6.0
xgboost==3.0.5
